modules = ["python-3.11", "python3", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["alsa-lib", "at-spi2-atk", "atk", "bc", "cairo", "cargo", "cups", "dbus", "ffmpeg", "ffmpeg-full", "freetype", "gitFull", "glib", "glibcLocales", "gnupg", "iana-etc", "jq", "k6", "libgbm", "libiconv", "libxcrypt", "libxkbcommon", "mesa", "nspr", "nss", "openssl", "pango", "pkg-config", "playwright-driver", "postgresql", "rustc", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libXrender", "xorg.libxcb", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "-k", "gevent", "--timeout", "120", "--bind", "0.0.0.0:5000", "main:app"]


[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn -k eventlet -w 1 --bind 0.0.0.0:5000 --reload main:app"
waitForPort = 5000

[agent]
integrations = ["flask_stripe:1.0.0", "google-calendar:1.0.0", "sendgrid:1.0.0", "stripe:1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80
